<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    {{> import}}
    <link rel="stylesheet" href="/css/sammlung.css">
    <style>
      #buttons{
        margin-top: 20px;
        margin-bottom: 20px;
      }
      #buttons a{
        margin-right: 10px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    {{> header}}
    <div class="container">
      <h1>{{pageTitle}}</h1>
      <h3>Operationen</h3>
      <div id="buttons">
        <a href="/add" class="btn btn-success">Neuen Kronkorken eintragen</a>
        <a href="/train" class="btn btn-default">Model trainieren</a>
        <a href="/register" class="btn btn-default">Neuen Nutzer registrieren</a>
      </div>
      <h3>Admin Features</h3>
      <div>
        <form action='/sammlung' method="get">
          <div class="form-group">
            <label>Aufbewahrungsort Suche</label>
            <input type="text" name="location" placeholder="Suchen" class="form-control" autocomplete="off">
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Statistiken</h3>
          <p>Es sind {{count}} verschiedene Kronkorken aus {{countryCountArray.length}} verschiedenen L채ndern in der Datenbank eingetragen.</p>
          <canvas id="chart"></canvas>
        </div>
        <script>
          //Farbe
          var color = Chart.helpers.color;
          function getRandomColor(){
            var colorArray = [
              color(window.chartColors.blue),
              color(window.chartColors.red),
              color(window.chartColors.orange),
              color(window.chartColors.green),
              color(window.chartColors.yellow),
              color(window.chartColors.purple),
              color(window.chartColors.grey)
            ];
            var randomVal = Math.floor(Math.random() * 7);
            return colorArray[randomVal];
          }

          var countryCount = JSON.parse('{{{countryCountJSON}}}');
          var myDatasets = new Array();
          for(var i=0; i<countryCount.length; i++){
            var dataset = {
              label: 'A',
              backgroundColor: getRandomColor().alpha(0.5).rgbString(),
              borderColor: window.chartColors.blue,
              borderWidth: 1,
              data: [
                  444
              ]
            }
            dataset.label = countryCount[i]._id;
            dataset.data[0] = countryCount[i].count;
            myDatasets.push(dataset);
          }

          //Balkendiagramm
          var barChartData = {
              labels: ["Land"],
              datasets: myDatasets
          };
          //Onload Funktion
          window.onload = function() {
            ctx = document.getElementById("chart").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'L채nder체bersicht'
                    },
                    scales: {
                      yAxes: [{
                        ticks: {
                          beginAtZero: true
                        }
                      }]
                    }
                }
            });
          }

        </script>
        <div class="col-xs-12">
          <h3>Zuletzt hinzugef체gt</h3>
          <div class="row auto-clear sammlungrow">
            {{#each recentlyAdded}}
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 equalize">
              <a href="/sammlung/{{_id}}">
                <div class="sammlung">
                  <img src="http://res.cloudinary.com/deewjrv8h/image/upload/c_thumb,h_250,w_250/v1523299669/{{cloudinaryImageId}}" class="img-responsive ccimage img-rounded">
                  <p class="ccbrand ccdata">{{brand}}</p>
                  <div class="col-xs-10">
                    <p class="ccname ccdata">{{name}}</p>
                  </div>
                  <div class="col-xs-2" style="padding: 0px">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="{{country}}">
                    <img class="img-responsive flags" src="http://www.countryflags.io/{{countryCode}}/flat/24.png">
                  </a>
                  </div>
                </div>
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
