<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>

    {{> import}}
    <script src="/js/lib/clipboard.min.js"></script>
    <style>
      @media (max-width: 767px){
        .row.auto-clear .col-xs-6:nth-child(2n+1){clear:left;}
      }

      @media (min-width: 768px) and (max-width: 991px){
        .row.auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
      }

      @media (min-width: 992px) and (max-width: 1199px){
        .row.auto-clear .col-md-3:nth-child(4n+1){clear:left;}
      }

      @media (min-width: 1200px){
        .row.auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
      }

      textarea {
        resize: none;
      }

      .sammlung{
          margin: 5px;
          height: 100%;
          padding-bottom: 5px;
      }

      .sammlungrow{
          margin: 5px;
      }
      .sammlungrow a{
        color: #000000;
        text-decoration: none;
      }

      .sammlungrow div{
          margin-bottom: 5px;
      }

      .ccdata {

        /* Automatische Silbentrennung */
        -moz-hyphens: auto;
        -o-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
      }

      .ccimage{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
      }

      .ccbrand{
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 5px;
        text-align: center;
      }

      .ccname{
        font-size: 12px;
        margin-bottom: 5px;
        text-align: left;
      }

      .ccquantity{
        font-size: 14px;
        text-align: right;
      }

      .cccountry{
        font-size: 12px;
        margin-bottom: 5px;
        text-align: right;
      }

      .flag{
        position: absolute;
        right: 0px;
      }

      #nextPage p{
        text-align: center;
        font-size: 12px;
      }

      #nextPage {
        margin-top: 50px;
        margin-bottom: 50px;
      }

      .dropdown-menu{
        height:200px;overflow-y:scroll;
      }

    </style>
  </head>
  <body>
    {{> header}}
    <div class="container">
      <h1>Trading</h1>
      <p>This page shows my crowncaps for trading. The pictures show the crowncaps in my collection and not the ones for trading. Still the overall quality of the caps is very good. Just select as many as you want and send me an email with your selection</p>
      <p>I am also listed on <a href="http://www.crowncaps.info">CC.I</a> with the id #811.</p>
      <h2>How it works</h2>
      <p>Just click on the crowncaps to add them to your selection. You can see your selection at the <a href="#selectedCount">bottom of this page</a>.</p>
      <h2>Germany</h2>
      <div class="row auto-clear sammlungrow">
        {{#each crowncapsDE}}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 equalize" >
          <div class="sammlung">
            <a href="#!" data-id="{{_id}}" data-imageid="{{cloudinaryImageId}}" class="selectable">
              <img src="http://res.cloudinary.com/deewjrv8h/image/upload/c_thumb,h_250,w_250/v1523299669/{{cloudinaryImageId}}" class="img-responsive ccimage img-rounded {{_id}}">
            </a>
            <div class="col-xs-9">
              <p class="ccbrand ccdata">{{brand}}</p>
            </div>
            <div class="col-xs-1">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Anzahl">
                <p class="ccquantity ccdata">{{quantity}}</p>
              </a>
            </div>
            <div class="col-xs-10">
              <p class="ccname ccdata">{{name}}</p>
            </div>
            <div class="col-xs-2" style="padding: 0px">
              <a href="#" data-toggle="tooltip" data-placement="top" title="{{country}}">
                <img class="img-responsive flags" src="http://www.countryflags.io/{{countryCode}}/flat/24.png">
              </a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <h2>International</h2>
      <div class="row auto-clear sammlungrow">
        {{#each crowncapsNotDE}}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 equalize">
          <div class="sammlung">
            <a href="#!" data-id="{{_id}}" data-imageid="{{cloudinaryImageId}}" class="selectable">
              <img src="http://res.cloudinary.com/deewjrv8h/image/upload/c_thumb,h_250,w_250/v1523299669/{{cloudinaryImageId}}" class="img-responsive ccimage img-rounded {{_id}}">
            </a>
            <div class="col-xs-9">
              <p class="ccbrand ccdata">{{brand}}</p>
            </div>
            <div class="col-xs-1">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Anzahl">
                <p class="ccquantity ccdata">{{quantity}}</p>
              </a>
            </div>
            <div class="col-xs-10">
              <p class="ccname ccdata">{{name}}</p>
            </div>
            <div class="col-xs-2" style="padding: 0px">
              <a href="#" data-toggle="tooltip" data-placement="top" title="{{country}}">
                <img class="img-responsive flags" src="http://www.countryflags.io/{{countryCode}}/flat/24.png">
              </a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <h2>special crowncaps</h2>
      <p>Trading only for other special crowncaps!</p>
      <div class="row auto-clear sammlungrow">
        {{#each crowncapsSpecial}}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 equalize">
          <div class="sammlung">
            <a href="#!" data-id="{{_id}}" data-imageid="{{cloudinaryImageId}}" class="selectable">
              <img src="http://res.cloudinary.com/deewjrv8h/image/upload/c_thumb,h_250,w_250/v1523299669/{{cloudinaryImageId}}" class="img-responsive ccimage img-rounded {{_id}}">
            </a>
            <div class="col-xs-9">
              <p class="ccbrand ccdata">{{brand}}</p>
            </div>
            <div class="col-xs-1">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Anzahl">
                <p class="ccquantity ccdata">{{quantity}}</p>
              </a>
            </div>
            <div class="col-xs-10">
              <p class="ccname ccdata">{{name}}</p>
            </div>
            <div class="col-xs-2" style="padding: 0px">
              <a href="#" data-toggle="tooltip" data-placement="top" title="{{country}}">
                <img class="img-responsive flags" src="http://www.countryflags.io/{{countryCode}}/flat/24.png">
              </a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <h2>selected crowncaps</h2>
      <p id="selectedCount">You selected 0 crowncaps.</p>
      <p>To remove a crowncap of your selection just click on them.</p>
      <div class="selectedcc row auto-clear sammlungrow">
      </div>
      <h2>Trading</h2>
      <p>Please copy the following and send it with your trading request:</p>
      <textarea readonly class="form-control" rows="5" id="selectedids"></textarea>
      <button class="btn btn-primary btn-clipboard" data-clipboard-target="#selectedids" style="margin-top: 10px; margin-bottom: 20px;">Copy to clipboard</button>

    </div>
    {{> importscript}}
    <script>
      //Copy to Clipboard initialisieren
      new ClipboardJS('.btn-clipboard');

      //Tooltips initialisieren
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });

      var selectedCC = [];
      $('.selectable').click(function() {
        var id = $(this).data('id');
        var imageId = $(this).data('imageid');
        if(!selectedCC.includes(id)){
          $('.selectedcc').append('<div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 deselectable" data-id="'+id+'"><img src="http://res.cloudinary.com/deewjrv8h/image/upload/c_thumb,h_150,w_150/v1523299669/' + imageId + '" class="img-responsive img-rounded"></div>');
          selectedCC.push(id);
          $('#selectedCount').html('You selected ' + selectedCC.length + ' crowncaps.');
          $('#selectedids').val(JSON.stringify(selectedCC));
          $('.' + id).css('-webkit-filter', 'opacity(.2)');
          $('.' + id).css('filter', 'opacity(.2)');
        }
      });

      $('body').on('click', '.deselectable', function(){
        var id = $(this).data('id');
        var index = selectedCC.indexOf(id);
        if(index > -1){
          selectedCC.splice(index, 1);
          $(this).remove();
        }
        $('#selectedCount').html('You selected ' + selectedCC.length + ' crowncaps.');
        $('#selectedids').val(JSON.stringify(selectedCC));
        $('.' + id).css('-webkit-filter', 'opacity(1)');
        $('.' + id).css('filter', 'opacity(1)');
      });
    </script>
  </body>
</html>
