<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>

    {{> import}}
    <style>
      .icon{
        width: 40px;
        margin-right: 20px;
        margin-bottom: 20px;
      }

      .row p {
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    {{> header}}
    <div class="container">
      <h1>{{pageTitle}}</h1>
      <div class="row" id="rowNormal">
          <div class="col-sm-4 col-lg-3 col-xs-12" style="margin-bottom: 20px;">
            <img src="{{crowncap.image}}" class="img-responsive img-thumbnail" alt="Kronkorken">
          </div>
          <div class="col-sm-8 col-lg-9 col-xs-12">
            <h2>{{crowncap.brand}} {{crowncap.name}} <a href="/sammlung/{{crowncap._id}}/edit" id="editbutton" hidden><img src="/img/icons/edit-64.png"height="25px"></a></h2>
            <hr>
            <h3>{{crowncap.country}}</h3>
            <hr>
            <a id="triedtrue" href="#" data-toggle="tooltip" data-placement="top" title="ausprobiert">
              <img src="/img/icons/success-64.png" alt="Selbst getrunken" class="icon">
            </a>
            <a id="triedfalse" hidden href="#" data-toggle="tooltip" data-placement="top" title="noch nicht ausprobiert">
              <img src="/img/icons/error-64.png" alt="Selbst getrunken" class="icon">
            </a>
            <a id="special" hidden href="#" data-toggle="tooltip" data-placement="top" title="spezial Kronkorken">
              <img src="/img/icons/star-64.png" alt="special" class="icon">
            </a>
            <p>Typ: {{crowncap.typeOfDrink}}</p>
          </div>
          <div class="col-xs-12">
              <p>Tags: {{crowncap.tags}}</p>
              <p>Hinzugefügt am: <span id="time"></span></p>
          </div>
      </div>
      <script src="/js/lib/moment.js"></script>
      <script>
        var formattedTime = moment({{crowncap.addedAt}}).format('DD.MM.YYYY');
        $('#time').html(formattedTime);

        //Tooltips initialisieren
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        });

        if({{crowncap.tried}} === true){
          $('#triedtrue').show();
          $('#triedfalse').hide();
        }else{
          $('#triedtrue').hide();
          $('#triedfalse').show();
        }

        if({{crowncap.special}} === true){
          $('#special').show();
        }

        if({{loggedIn}}){
          $('#editbutton').show();
        }else{
          $('#editbutton').hide();
        }

      </script>

      {{> footer}}
    </div>

  </body>
</html>
