<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    {{> import}}
    <link rel="stylesheet" href="/css/sammlung.css">
    <style>

        .jumbotron{
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }

        @media (max-width: 500px){
          .jumbotron{
            background-image: url(/img/Logo-Square-Klein.png);
            height: 400px;
          }
        }

        @media (min-width: 501px) and (max-width: 600px){
          .jumbotron{
            background-image: url(/img/Logo-Rect1-Klein.png);
            height: 400px;
          }
        }

        @media (min-width: 601px) and (max-width: 800px){
          .jumbotron{
            background-image: url(/img/Logo-Rect2-Klein.png);
            height: 400px;
          }
        }

        @media(min-width: 801px) and (max-width: 850px){
          .jumbotron{
              background-image: url(/img/Logo-Square.png);
              height: 700px;
          }
        }

        @media(min-width: 851px) and (max-width: 1200px){
          .jumbotron{
              background-image: url(/img/Logo-Rect1.png);
              height: 700px;
          }
        }

        @media(min-width: 1201px){
          .jumbotron{
              background-image: url(/img/Logo-Rect2.png);
              height: 700px;
          }
        }

    </style>
  </head>
  <body>
    {{> header}}
    <!-- JUMBOTRON -> Landing Page -->
    <div class="jumbotron" id="jumbotron">
        <div class="container">
            <div id="logocontainer">
                <!-- <img id="logoimg" class="img-responsive" src="img/logo_gross_hintergrund.png"> -->
            </div>
        </div>
    </div>
    <div class="container">
      <h1>Willkommen</h1>
      <p style="text-align: justify">
        Kronkorken, das sind die lästigen kleinen Dinger, die zwischen dir und deinem Bier stehen.
        Manche Leute entfernen sie mit einem Flaschenöffner, manche mit einer anderen Flache oder einem Feuerzeug und wieder andere mit den Zähnen. <br><br>
        Es gibt allerdings auch noch ein paar Leute die in ihnen nicht nur eine lästige Hürde, sondern eine wunderbare Vielfalt an kleinen mit viel Mühe gestalteten Kunstwerken sehen. Da ich zu diesen Leuten zähle habe ich schon im Kindergarten angefangen die kleinen bunten Metallstücke zu sammeln. Über die Jahre entstand so eine recht vielfältige Sammlung, welche ich euch auf dieser Seite präsentieren möchte.
      </p>
      <h1>Statistiken</h1>
      <p>Aktuell sind {{count}} verschiedene Kronkorken aus {{countries}} verschiedenen Ländern in der Datenbank eingetragen.</p>
      <canvas id="chart"></canvas><br>
      <canvas id="chartBrand"></canvas><br>
      <canvas id="chartHistory"></canvas><br>
      <script>
        //Farbe
        var color = Chart.helpers.color;
        function getRandomColor(){
          var colorArray = [
            color(window.chartColors.blue),
            color(window.chartColors.red),
            color(window.chartColors.orange),
            color(window.chartColors.green),
            color(window.chartColors.yellow),
            color(window.chartColors.purple),
            color(window.chartColors.grey)
          ];
          var randomVal = Math.floor(Math.random() * 7);
          return colorArray[randomVal];
        }

        //Top 5 Länder Balkendiagramm Daten vorbereiten
        var countryCount = JSON.parse('{{{countryCount}}}');
        var countryCountFirst5 = countryCount.slice(0,5);
        var myDatasets = new Array();
        for(var i=0; i<countryCountFirst5.length; i++){
          var dataset = {
            label: 'A',
            backgroundColor: getRandomColor().alpha(0.5).rgbString(),
            borderColor: window.chartColors.blue,
            borderWidth: 1,
            data: [
                444
            ]
          }
          dataset.label = countryCountFirst5[i]._id;
          dataset.data[0] = countryCountFirst5[i].count;
          myDatasets.push(dataset);
        }

        //Top 5 Länder Balkendiagramm Daten einfügen
        var barChartData = {
            labels: ["Land"],
            datasets: myDatasets
        };

        //Entwicklung letzte Monate vorbereiten
        var historyCountArray = JSON.parse('{{{historyCountArray}}}');
        var myDatasetsHistory = [{
          label: 'Eingetragene Kronkorken',
          backgroundColor: 'transparent',
          borderColor: window.chartColors.blue,
          pointRadius: 8,
          pointBackgroundColor: window.chartColors.blue,
          data: [
              12
          ]
        }];
        for(var i=0; i<historyCountArray.length; i++){
          if(i == 0){
            myDatasetsHistory[0].data[i] = historyCountArray[i].count;
          }else{
            myDatasetsHistory[0].data[i] = myDatasetsHistory[0].data[i-1] + historyCountArray[i].count;
          }
        }

        //Entwicklung letzte Monate einfügen
        var lineChartData = {
            labels: ["Monat"],
            fill: false,
            datasets: myDatasetsHistory
        };

        for(var i=0; i<historyCountArray.length; i++){
          lineChartData.labels[i] = historyCountArray[i]._id.month + "." + historyCountArray[i]._id.year
        }

        //Top 5 Marken Balkendiagramm Daten vorbereiten
        var brandCount = JSON.parse('{{{brandCount}}}');
        var myDatasetsBrandCount = new Array();
        for(var i=0; i<brandCount.length; i++){
          var dataset = {
            label: 'A',
            backgroundColor: getRandomColor().alpha(0.5).rgbString(),
            borderColor: window.chartColors.blue,
            borderWidth: 1,
            data: [
                444
            ]
          }
          dataset.label = brandCount[i]._id;
          dataset.data[0] = brandCount[i].count;
          myDatasetsBrandCount.push(dataset);
        }

        //Top 5 Marken Balkendiagramm Daten einfügen
        var barChartDataBrandCount = {
            labels: ["Marke"],
            datasets: myDatasetsBrandCount
        };
        //Onload Funktion
        window.onload = function() {
          //Top 5 Länder
          ctx = document.getElementById("chart").getContext("2d");
          window.myBar = new Chart(ctx, {
              type: 'bar',
              data: barChartData,
              options: {
                  responsive: true,
                  legend: {
                      position: 'top',
                  },
                  title: {
                      display: true,
                      text: 'Top 5 Länder'
                  },
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero: true
                      }
                    }]
                  }
              }
            });
            //Letzte Monate
            ctx1 = document.getElementById("chartHistory").getContext("2d");
            window.myBar = new Chart(ctx1, {
                type: 'line',
                data: lineChartData,
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: 'Entwicklung der letzten Monate'
                    },
                    scales: {
                      yAxes: [{
                        ticks: {
                          beginAtZero: true
                        }
                      }]
                    }
                }
              });
            //Top 5 Marken
            ctx2 = document.getElementById("chartBrand").getContext("2d");
            window.myBar = new Chart(ctx2, {
                type: 'bar',
                data: barChartDataBrandCount,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Top 5 Marken'
                    },
                    scales: {
                      yAxes: [{
                        ticks: {
                          beginAtZero: true
                        }
                      }]
                    }
                }
          });
        }

      </script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load('current', {
          'packages':['geochart'],
          // Note: you will need to get a mapsApiKey for your project.
          // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
          'mapsApiKey': 'AIzaSyAcOJ4IiErc8FOkr8nI3fi8A4i2bozq9DU'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);

        //eigene Daten umwandeln
        var myArray = [['Land', 'Kronkorken']];
        for(var i=0; i<countryCount.length;i++){
          myArray.push([{v: countryCount[i].countryCode, f: countryCount[i]._id}, countryCount[i].count]);
        }

        function drawRegionsMap() {
          var data = google.visualization.arrayToDataTable(myArray);

          var options = {
              colorAxis: {colors: ['#CCFFCC', '#336600']}
          };

          var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

          chart.draw(data, options);
        }
      </script>

      <br>
      <div id="regions_div" style="width: auto; height: auto"></div>
      <h1>Zuletzt hinzugefügt</h1>
      <div class="row auto-clear" id="sammlungrow">
        {{#each recentlyAdded}}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 equalize">
          <a href="/sammlung/{{_id}}">
            <div class="sammlung">
              <img src="http://res.cloudinary.com/deewjrv8h/image/upload/c_thumb,h_250,w_250/v1523299669/{{cloudinaryImageId}}" class="img-responsive ccimage img-rounded">
              <p class="ccbrand ccdata">{{brand}}</p>
              <div class="col-xs-10">
                <p class="ccname ccdata">{{name}}</p>
              </div>
              <div class="col-xs-2" style="padding: 0px">
                <a href="#" data-toggle="tooltip" data-placement="top" title="{{country}}">
                <img class="img-responsive flags" src="http://www.countryflags.io/{{countryCode}}/flat/24.png">
              </a>
              </div>
            </div>
          </a>
        </div>
        {{/each}}
      </div>


    </div>
    {{> footer}}

  </body>
</html>
