<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>

    {{> import}}
    <script src="/js/lib/clipboard.min.js"></script>
    <link rel="stylesheet" href="/css/sammlung.css">
    <style>
      textarea {
        resize: none;
      }

      .fixed {
        position: fixed;
        bottom: 5px;
        right: -3px;
        z-index: 1;
      }
    </style>
  </head>
  <body>
    {{> header}}

    <div class="container">
      <h1>Trading</h1>
      <p>This page shows my crowncaps for trading. The pictures show the crowncaps in my collection and not the ones for trading. Still the overall quality of the caps is very good. Just select as many as you want and send me an email with your selection</p>
      <p>I am also listed on <a href="http://www.crowncaps.info">CC.I</a> with the id #811.</p>
      <h2>How it works</h2>
      <ul class="list-group">
        <li class="list-group-item">1. Click on the crowncaps to add them to your selection.</li>
        <li class="list-group-item">2. Check your selection.</li>
        <li class="list-group-item">3. Send the generated text with your request via email.</li>
      </ul>
      <p>You can see your selection and the generated text at the <a href="#selectedCaps">bottom of this page</a>.</p>
      <div class="fixed panel panel-primary highlightable">
        <div class="panel-heading">
          <a href="#selectedCaps" style="color: white;">Selection: </a><span class="selectedCount badge">0</span>
        </div>
      </div>
      <h2>Germany</h2>
      <p>{{crowncapsDECount}} different crowncaps avaiable.</p>
      <div class="row auto-clear sammlungrow">
        {{#each crowncapsDE}}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 equalize" >
          <div class="sammlung">
            <a href="#!" data-id="{{_id}}" data-imageid="{{cloudinaryImageId}}" class="selectable">
              <img src="http://res.cloudinary.com/deewjrv8h/image/upload/c_thumb,h_250,w_250/v1523299669/{{cloudinaryImageId}}" class="img-responsive ccimage img-rounded {{_id}}">
            </a>
            <div class="col-xs-9">
              <p class="ccbrand ccdata">{{brand}}</p>
            </div>
            <div class="col-xs-1">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Anzahl">
                <p class="ccquantity ccdata">{{quantity}}</p>
              </a>
            </div>
            <div class="col-xs-10">
              <p class="ccname ccdata">{{name}}</p>
            </div>
            <div class="col-xs-2" style="padding: 0px">
              <a href="#" data-toggle="tooltip" data-placement="top" title="{{country}}">
                <img class="img-responsive flags" src="http://www.countryflags.io/{{countryCode}}/flat/24.png">
              </a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <h2>International</h2>
      <p>{{crowncapsNotDECount}} different crowncaps avaiable.</p>
      <div class="row auto-clear sammlungrow">
        {{#each crowncapsNotDE}}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 equalize">
          <div class="sammlung">
            <a href="#!" data-id="{{_id}}" data-imageid="{{cloudinaryImageId}}" class="selectable">
              <img src="http://res.cloudinary.com/deewjrv8h/image/upload/c_thumb,h_250,w_250/v1523299669/{{cloudinaryImageId}}" class="img-responsive ccimage img-rounded {{_id}}">
            </a>
            <div class="col-xs-9">
              <p class="ccbrand ccdata">{{brand}}</p>
            </div>
            <div class="col-xs-1">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Anzahl">
                <p class="ccquantity ccdata">{{quantity}}</p>
              </a>
            </div>
            <div class="col-xs-10">
              <p class="ccname ccdata">{{name}}</p>
            </div>
            <div class="col-xs-2" style="padding: 0px">
              <a href="#" data-toggle="tooltip" data-placement="top" title="{{country}}">
                <img class="img-responsive flags" src="http://www.countryflags.io/{{countryCode}}/flat/24.png">
              </a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <h2>special crowncaps</h2>
      <p>Trading only for other special crowncaps!</p>
      <p>{{crowncapsSpecialCount}} different crowncaps avaiable.</p>
      <div class="row auto-clear sammlungrow">
        {{#each crowncapsSpecial}}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 equalize">
          <div class="sammlung">
            <a href="#!" data-id="{{_id}}" data-imageid="{{cloudinaryImageId}}" class="selectable">
              <img src="http://res.cloudinary.com/deewjrv8h/image/upload/c_thumb,h_250,w_250/v1523299669/{{cloudinaryImageId}}" class="img-responsive ccimage img-rounded {{_id}}">
            </a>
            <div class="col-xs-9">
              <p class="ccbrand ccdata">{{brand}}</p>
            </div>
            <div class="col-xs-1">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Anzahl">
                <p class="ccquantity ccdata">{{quantity}}</p>
              </a>
            </div>
            <div class="col-xs-10">
              <p class="ccname ccdata">{{name}}</p>
            </div>
            <div class="col-xs-2" style="padding: 0px">
              <a href="#" data-toggle="tooltip" data-placement="top" title="{{country}}">
                <img class="img-responsive flags" src="http://www.countryflags.io/{{countryCode}}/flat/24.png">
              </a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <h2 id="selectedCaps">selected crowncaps</h2>
      <p>You selected <span class="selectedCount">0</span> crowncaps.</p>
      <p>To remove a crowncap of your selection just click on them.</p>
      <div class="selectedcc row auto-clear sammlungrow">
      </div>
      <br>
      <button class="btn btn-danger" id="deselectButton">Deselect All</button>
      <h2>Trading</h2>
      <p>Please copy the following and send it with your trading request:</p>
      <textarea readonly class="form-control" rows="5" id="selectedids"></textarea>
      <button class="btn btn-primary btn-clipboard" data-clipboard-target="#selectedids" style="margin-top: 10px; margin-bottom: 20px;">Copy to clipboard</button>

    </div>
    {{> importscript}}
    <script>
      //Copy to Clipboard initialisieren
      new ClipboardJS('.btn-clipboard');

      //Tooltips initialisieren
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });

      var selectedCC = [];

      $('body').on('click', '.deselectable', function(){
        deselect(this);
      });

      $('body').on('click', '.selectable', function(){
        var id = $(this).data('id');
        if (selectedCC.indexOf(id) > -1){
          deselect(this);
        }else{
          $('.highlightable').highlight();
          select(this);
        }
      });

      $('#deselectButton').click(function(){
        $(".selectable").each(function(){
          var id = $(this).data('id');
          if(selectedCC.indexOf(id) > -1){
            deselect(this);
          }
        });
      });

      //Selection initialisieren
      window.onload = function(){
        if (typeof(Storage) !== "undefined") {
          var cc = JSON.parse(localStorage.selectedCC);
          if(cc != undefined){
            $(".selectable").each(function(){
              var id = $(this).data('id');
              if(cc.indexOf(id) > -1){
                select(this);
              }
            });
          }
        } else {
          console.log("LocalStorage wird nicht unterstützt!");
        }
      }

      function updateCCObject(){
        $('.selectedCount').html(selectedCC.length);
        $('#selectedids').val(JSON.stringify(selectedCC));

        //Localstorage
        if (typeof(Storage) !== "undefined") {
          localStorage.selectedCC = JSON.stringify(selectedCC);
        } else {
          console.log("LocalStorage wird nicht unterstützt!");
        }
      }

      function deselect(object){
        var id = $(object).data('id');
        var index = selectedCC.indexOf(id);
        if(index > -1){
          selectedCC.splice(index, 1);
          var objectToRemove = $('.deselectable[data-id="' + id + '"]');
          $(objectToRemove).remove();
        }
        updateCCObject();
        $('.' + id).css('-webkit-filter', 'opacity(1)');
        $('.' + id).css('filter', 'opacity(1)');
      }

      function select(object){
        var id = $(object).data('id');
        var imageId = $(object).data('imageid');
        if(selectedCC.indexOf(id) == -1){
          $('.selectedcc').append('<div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 deselectable" data-id="'+id+'"><img src="http://res.cloudinary.com/deewjrv8h/image/upload/c_thumb,h_150,w_150/v1523299669/' + imageId + '" class="img-responsive img-rounded"></div>');
          selectedCC.push(id);
          updateCCObject();
          $('.' + id).css('-webkit-filter', 'opacity(.2)');
          $('.' + id).css('filter', 'opacity(.2)');
        }
      }

      //Addon für highlighting
      jQuery.fn.highlight = function () {
          $(this).each(function () {
              var el = $(this);
              $("<div/>")
              .width(el.outerWidth())
              .height(el.outerHeight())
              .css({
                  "position": "absolute",
                  "left": el.offset().left,
                  "top": el.offset().top,
                  "background-color": "#ffffff",
                  "opacity": ".7",
                  "z-index": "9999999"
              }).appendTo('body').fadeOut(1000).queue(function () { $(this).remove(); });
          });
      }
    </script>
  </body>
</html>
