<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>

    {{> import}}
    <link rel="stylesheet" href="/css/sammlung.css">
    <style>
      #nextPage p{
        text-align: center;
        font-size: 12px;
      }

      #nextPage {
        margin-top: 50px;
        margin-bottom: 50px;
      }

      /* .dropdown-menu{
        height:200px;overflow-y:scroll;
      } */

    </style>
  </head>
  <body>
    {{> header}}
    <div class="container">
      <h1>{{pageTitle}}</h1>
      <form id="searchForm">
        <div class="form-group col-xs-9">
          <input type="text" name="q" placeholder="Suchen" class="form-control" autocomplete="off">
        </div>
        <div class="form-group col-xs-3">
          <button type="submit" class="form-control btn btn-primary"><img src="/img/icons/lupe-64.png" height="20px"></button>
        </div>
      </form>
      <form>
        <input type="text" name="q" hidden id="hiddenQuery">
        <div class="form-group col-sm-3 col-xs-6">
          <select class="form-control filter" name="country" id="countrySelect">
            <option value="">Alle Länder</option>
			    </select>
        </div>
        <div class="form-group col-sm-3 col-xs-6">
          <select class="form-control filter" name="typeOfDrink" id="typeOfDrinkSelect">
            <option value="">Alle Getränkesorten</option>
            <option value="Bier">Bier</option>
            <option value="Mixgetränk">Mixgetränk</option>
            <option value="Softdrink">Softdrink</option>
            <option value="Anderes">Anderes</option>
			    </select>
        </div>
        <div class="form-group col-sm-3 col-xs-6">
          <select class="form-control filter" name="special" id="specialSelect">
            <option value="">Alle Kronkorken</option>
            <option value="true">Spezial</option>
            <option value="false">Normal</option>
			    </select>
        </div>
        <div class="form-group col-sm-3 col-xs-6">
          <select class="form-control filter" name="itemsPerPage" id="itemsPerPageSelect">
            <option value="">60 pro Seite</option>
            <option value="120">120 pro Seite</option>
            <option value="180">180 pro Seite</option>
			    </select>
        </div>
      </form>
      <div class="row auto-clear sammlungrow">
        {{#each crowncaps}}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 equalize">
          <a href="/sammlung/{{_id}}">
            <div class="sammlung">
              <img src="http://res.cloudinary.com/deewjrv8h/image/upload/c_thumb,h_250,w_250/v1523299669/{{cloudinaryImageId}}" class="img-responsive ccimage img-rounded">
              <p class="ccbrand ccdata">{{brand}}</p>
              <div class="col-xs-10">
                <p class="ccname ccdata">{{name}}</p>
              </div>
              <div class="col-xs-2" style="padding: 0px">
                <a href="#" data-toggle="tooltip" data-placement="top" title="{{country}}">
                <img class="img-responsive flags" src="http://www.countryflags.io/{{countryCode}}/flat/24.png">
              </a>
              </div>
            </div>
          </a>
        </div>
        {{/each}}
      </div>
      <div id="nextPage">
        <p><a href="#">Zurück</a> Seite 1 von {{numberOfPages}} <a href="#">Weiter</a></p>
      </div>
    </div>
    {{> importscript}}
    <script>
      //Tooltips initialisieren
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });

      //Select bestücken
      var countries = JSON.parse('{{{countries}}}');
      for(var i=0; i < countries.length; i++){
        var o = new Option(countries[i], countries[i]);
        $(o).html(countries[i]);
        $('#countrySelect').append(o);
      }

      //Suche mit in das Filter Formular übernehmen
      $(".filter").on("change",function() {
        $('#hiddenQuery').val(getParameterByName('q'));
        this.form.submit();
      });

      //Filter auf Query Werte setzen
      $('#countrySelect').val(getParameterByName('country'));
      $('#typeOfDrinkSelect').val(getParameterByName('typeOfDrink'));
      $('#specialSelect').val(getParameterByName('special'));
      $('#itemsPerPageSelect').val(getParameterByName('itemsPerPage'));

      //Pages
      var numberOfPages = {{numberOfPages}};
      var currentPage = getParameterByName('page');
      var nextPage = parseInt(currentPage) + 1;

      var url = window.location.href;
      var splittedUrl = url.split('page=' + getParameterByName('page'));
      var urlPrePage = splittedUrl[0];
      var urlPostPage = splittedUrl[1];

      var splittedUrlAtQuestionmark = url.split('?');
      if(!urlPostPage){
        urlPostPage = '';
      }

      //Wenn keine Page im Query steht
      if(splittedUrl[1] == undefined){
        nextPage = 2;
        if(splittedUrlAtQuestionmark[1] == undefined){
          //if no query
          urlPrePage += "?";
        }else{
          //if query
          urlPrePage += "&";
        }
      }

      if(numberOfPages == 1){
        $('#nextPage').html('<p><img src="/img/icons/back-g.png"></a> Seite 1 von 1 <img src="/img/icons/next-g.png"></p>');
      }else if(numberOfPages == 0){
        $('#nextPage').html('<p>Keinen Kronkorken gefunden</p>');
      }else if(currentPage == 1 || currentPage == undefined){
        $('#nextPage').html('<p><img src="/img/icons/back-g.png"> Seite 1 von ' + numberOfPages + ' <a href="' + urlPrePage + 'page=' + nextPage + urlPostPage + '"><img src="/img/icons/next.png"></a></p>');
      }else if(currentPage >= numberOfPages){
        $('#nextPage').html('<p><a href="' + urlPrePage + 'page=' + (currentPage - 1) + urlPostPage + '"><img src="/img/icons/back.png"></a> Seite ' + currentPage + ' von ' + numberOfPages + ' <img src="/img/icons/next-g.png"></p>');
      }else{
        $('#nextPage').html('<p><a href="' + urlPrePage + 'page=' + (currentPage - 1) + urlPostPage + '"><img src="/img/icons/back.png"></a></a> Seite ' + currentPage + ' von ' + numberOfPages + ' <a href="' + urlPrePage + 'page=' + nextPage + urlPostPage + '"><img src="/img/icons/next.png"></a></p>');
      }

      function getParameterByName(name, url) {
          if (!url) url = window.location.href;
          name = name.replace(/[\[\]]/g, "\\$&");
          var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
              results = regex.exec(url);
          if (!results) return null;
          if (!results[2]) return '';
          return decodeURIComponent(results[2].replace(/\+/g, " "));
      }
    </script>
  </body>
</html>
